

 <main>

<section class="slider">
<div class="textbox">


<span>Best Prices</span>
<p>
Incredible Prices on
All Your Favorite items
</p>

<span>Get more For less on selected brands</span>

<button class="btn btn-warning" style="display:block;" routerLink="/products/Shopall">Shop Now </button>
</div>
 </section>


 <section class="container2">
        <div class="list">
           <img src="../../../../../assets/mainpics/section 2 icons/camion 2.png" alt="">
              <div class="wrapper"><span> Curb-side pickup</span></div>
        </div>
        <div class="list">
            <img src="../../../../../assets/mainpics/section 2 icons/free 2.png" alt="">
             <div class="wrapper"><span> Free shipping on orders over 200 DT</span></div>
        </div>
        <div class="list">
            <img src="../../../../../assets/mainpics/section 2 icons/discount 2.png" alt="">
                <div class="wrapper"><span>Low prices guaranteed</span></div>
        </div>
        <div class="list">
            <img src="../../../../../assets/mainpics/section 2 icons/24 2.png" alt="">
                <div class="wrapper"><span>Available to you 24/7 </span></div>
        </div>

</section>


<section class="recomend">


    <span>Recomendations</span>

    <div class="offers" >
    <div class="card" >
        <img class="card-img-top" src="../../../../../assets/mainpics/Offres/1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">AudioPhile Pack</h5>
          <p class="card-text"> Vocal Clarity Everywhere, 0 latency</p>
          <a class="card-link" href="">Learn More</a>
        </div>
      </div>

      
    <div class="card" >
        <img class="card-img-top" src="../../../../../assets/mainpics/Offres/2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Extreme Gaming Pack</h5>
          <p class="card-text">Power, Performance, Perfection</p>
          <a class="card-link" href="">Learn More</a>
        </div>
      </div>

      
    <div class="card" >
        <img class="card-img-top" src="../../../../../assets/mainpics/Offres/3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Portable PowerHouse Pack</h5>
          <p class="card-text">Power, Islence, No Corners cut.</p>
          <a class="card-link" href="">Learn More</a>
          </div>
        </div>
    </div>
    
   
  









</section>


<section class="sponsor">
    <img src="../../../../../assets/mainpics/sponsors/1.png" alt="">
    <img src="../../../../../assets/mainpics/sponsors/2.png" alt="">
    <img src="../../../../../assets/mainpics/sponsors/5.png" alt="">
    <img src="../../../../../assets/mainpics/sponsors/3.png" alt="">
    <img src="../../../../../assets/mainpics/sponsors/4.png" alt="">
    <img src="../../../../../assets/mainpics/sponsors/Steelseries-logo.png" alt="">

</section>



</main>



