<!-- <div class="container" id="listprod">
    <div class="row">
    <div class="col">
    <div class="card-content">
        <div class="card">
            <div class="card-image">
                <img src="../../../../../assets/sadFace.svg" alt="" class="card-img">
            </div>
            <div class="card-info">
                <h3>cardname</h3>
                <p class="fw-bold product_price">50 TND</p>
                
                <p class="description"></p>
                <button (click)="openWindowCustomClass('test')" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#test">
                    more
                  </button>
                <button class="btn btn-success">Add to cart</button>
                
            </div>
        </div>
         <div class="card">
            <div class="card-image">
                <img src="../../../../../assets/sadFace.svg" alt="" class="card-img">
            </div>
            <div class="card-info">
                <h3>cardname</h3>
                <p class="fw-bold product_price">50 TND</p>
                <p class="fw-bold">Description:</p>
                <p class="description"></p>
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../../../../../assets/sadFace.svg" alt="" class="card-img">
            </div>
            <div class="card-info">
                <h3>cardname</h3>
                <p class="fw-bold product_price">50 TND</p>
                <p class="fw-bold">Description:</p>
                <p class="description"></p>
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../../../../../assets/sadFace.svg" alt="" class="card-img">
            </div>
            <div class="card-info">
                <h3>cardname</h3>
                <p class="fw-bold product_price">50 TND</p>
                <p class="fw-bold">Description:</p>
                <p class="description"></p>
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../../../../../assets/sadFace.svg" alt="" class="card-img">
            </div>
            <div class="card-info">
                <h3>cardname</h3>
                <p class="fw-bold product_price">50 TND</p>
                <p class="fw-bold">Description:</p>
                <p class="description"></p>
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../../../../../assets/sadFace.svg" alt="" class="card-img">
            </div>
            <div class="card-info">
                <h3>cardname</h3>
                <p class="fw-bold product_price">50 TND</p>
                <p class="fw-bold">Description:</p>
                <p class="description"></p>
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="../../../../../assets/sadFace.svg" alt="" class="card-img">
            </div>
            <div class="card-info">
                <h3>cardname</h3>
                <p class="fw-bold product_price">50 TND</p>
                <p class="fw-bold">Description:</p>
                <p class="description"></p>
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>
    </div>
    </div>
    </div>
   
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->

<div class="cont">
    <h1 class="fw-bold">{{Category}}</h1>
    <div class="card-content">
            
            <div *ngIf="dataArray.length==0"><h2>Empty :(</h2></div>
            
            <div *ngFor="let item of dataArray">
                <div class="card">
                    <div class="card-image">
                        <img src="../../../../../assets/products/{{item.img_produit}}" alt="product" class="card-img">
                    </div>
                    <div class="card-info">
                        <h3>{{item.lib_produit}}</h3>
                        <p class="fw-bold product_price">{{item.prix_produit}} TND</p>
                        <p class="fw-bold">Description:</p>
                        <p class="description">{{item.description}}</p>
                        <button class="btn btn-success" [disabled]="user==''" (click)="addToCart(item)">Add to
                            cart</button>
                    </div>
                </div>
            </div>
    </div>
</div>

    <!--
    <div class="pagination">
        <li class="page-item previous-page"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item current-page"><a class="page-link" href="#">1</a></li>
        <li class="page-item current-page"><a class="page-link" href="#">2</a></li>
        <li class="page-item current-page"><a class="page-link" href="#">3</a></li>
        <li class="page-item next-page"><a class="page-link" href="#">Next</a></li>
    </div>
</div>
<script type="text/javascript">
    function getPage(totalPages,page,maxLength){
        function range(start,end){
            return Array.from(Array(end-start+1),(_,i)=>i+start);

        }
        var sideWidth=maxLength<9 ? 1 : 2;
        var leftWidth=(maxLength-sideWidth*2 - 3)>> 1;
        var rightWidth=leftWidth
        if(totalPages <= maxLength){
            return range(1,totalPages);
        }
        if(page <=MaxLength - sideWidth-1-rightWidth){
            return range(1,maxLength-sideWidth-1).concat(0,range(totalPages-sideWidth+1,totalPages));

        }
        if (page>=totalPages - sideWidth -1 - rightWidth){
            return range(1,sideWidth).concat(0,range(totalPages-sideWidth-1-rightWidth-leftWidth-totalPages));

        }
        return range(1,sideWidth).concat(0,range(page-leftWidth,page+rigthWidth),0,range(totalPages-sideWidth+1,totalPages));

    }
    $(function(){
        var numberOfItems=$(".card-content .card").length;
        var limitPerPage= 3;
        var totalPages=Math.ceil(numberOfItems / limitPerPage);
        var paginationSize=7;
        var currentPage;
        function showPage(whichPage){
            if(whichPage<1 || whichPage>totalPages) return false;
        
        currentPage=whichPage;
        $(".card-content .card").hide().slice((currentPage-1)*limitPerPage,currentPage*limitPerPage).show();
        $(".pagination li").slice(1,-1).remove();
        getPageList(totalPages,currentPage,paginationSize).array.forEach(element => {
            $("<li>").addClass("page-item").addClass(item ? "currentPage" : "dots")
            .toggleClass("active",item===currentPage).append($("<a>").addClass("page-link")
                .attr({href:"javascript:void(0)"}).text(item || "...")).insertBefore(".next-page");
        });
        $(".previous-page").toggleClass("disable",currentPage===1);
        $(".next-page").toggleClass("disable",currentPage===totalPages);
        return true;

        }
        $(".pagination").append(
            $("li").addClass("page-item").addClass("previous-page").append($("<a>").addClass("page-link").attr({href:"javascript:void(0)"}).text("Prev")),
            $("li").addClass("page-item").addClass("next-page").append($("<a>").addClass("page-link").attr({href:"javascript:void(0)"}).text("Next"))

        );
        $(".card-content").show();
        showPage(1);
        $(document).on("click",".pagination li.current-page:not(.active)",function(){
            return showPage(+$(this).text());
        })
        $(".next-page").on("click",function(){
            return showPage(currentPage+1);
        })
        $(".previous-page").on("click",function(){
            return showPage(currentPage-1);
        });
    });
</script>
-->