/* colors
#f4b33a : yellow

#94dce8 : blue

Dark gray: #343434

Gray: #3c3c3c*/
*{

    box-sizing:border-box;
    font-family: "Poppins",sans-serif;
}
th{
    cursor:pointer;
}
h1{
    font-size:50px;
    text-align: center;
    color:#94dce8;
}
h3{
    color:#84c4d0;
}
.cont{
    min-height:100;
    display:block;
    height:90vh;
    /*background-color:rgb(244, 245, 246);*/
}

.card-content{
    
    margin-left:10%;
    margin-right:10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
   background-color: rgb(34, 34, 34);
    max-width:400px;
    width:400px;
    height:500px;
    margin:25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius:10px;
    overflow:hidden;
}
.card-image{
    max-height:100px;
}
.card-image img{
    width:100%;
    height:300px;
}
.card-info{
    position:relative;

    color: rgba(183, 183, 183, 0.575);
    padding:200px 20px 20px;
}
.card-info h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom:5px;
}
.card-info p{
    font-size:1em;
    margin-bottom:5px;
}
.btn{
    background-color:#f4b33a;
    border:#222;
}
.btn:hover{
    background-color:#f8c668;
    border:#222;
}
/*
.pagination{
    text-align:center;
    margin:30px 30px 60px;
    user-select:none;
}
.pagination li{
    display:inline-block;
    margin:5px;
    box-shadow:0 5px 25px rgb(1 1 1 / 10%);
}
.pagination li a{
    color:#fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height:45px;
}
.previous-page,.next-page{
    background-color: yellow;
    width:80px;
    border-radius:45px;
    cursor: pointer;
    transition: 0.3 ease;
}
.previous-page:hover{
    transform:translateX(-5px);
}
.next-page:hover{
    transform:translateX(5px);
}
.active{
    background:yellow;
}
.disable{
    background:#ccc;
}
.current-page{
    background:#ccc;
    width:45px;
    width:80px;
    border: radius 50%;;
    cursor: pointer;
}
*/